<div id="<%= dom_id cliente %>">
  <p>
    <strong>Rut:</strong>
    <%= cliente.rut %>
  </p>

  <p>
    <strong>Nombre:</strong>
    <%= cliente.nombre %>
  </p>

  <p>
    <strong>Dirección comercial:</strong>
    <%= cliente.direccion %>
  </p>

</div>
