<p style="color: green"><%= notice %></p>

<h1>Clientes</h1>



<%= render "table", cliente: @cliente %>

<%= link_to "Nuevo cliente", new_cliente_path, class: "btn btn-primary shadow" %>
<%= link_to "Volver a inicio", root_path, class: "btn btn-secondary shadow" %>
