<p style="color: green"><%= notice %></p>

<h1>Reportes</h1>

<div id="reportes">
  <% @reportes.each do |reporte| %>
    <%= render reporte %>
    <p>
      <%= link_to "Show this reporte", reporte %>
    </p>
  <% end %>
</div>

<%= link_to "New reporte", new_reporte_path %>
