<p style="color: green"><%= notice %></p>


<h1>Reportes</h1>

<%= render "table", reporte: @reporte %>

<%= link_to "Nuevo reporte", new_reporte_path, class: "btn btn-primary shadow" %>
<%= link_to "Volver a inicio", root_path, class: "btn btn-secondary shadow" %>
