


<div class="container">
    <%= render @reporte %>
</div>


<div class="botones">
  <div class="d-flex justify-content-center">
    <%= link_to "Imprimir", '#', class: "btn btn-primary shadow m-1", onclick: "printpage()" %>
    <%= link_to 'Reportes sucursal', reportes_path(sucursale_id: @reporte.sucursale_id), class: "btn btn-success shadow m-1" %>
    <%= link_to "Volver", reportes_path, class: "btn btn-secondary shadow m-1" %>


  </div>
</div>
