<p style="color: green"><%= notice %></p>


<div class="container">
    <%= render @reporte %>
</div>


<div class="botones">
  <div class="d-flex justify-content-center">
  <%#= link_to "Edit this reporte", edit_reporte_path(@reporte), class: "btn btn-primary shadow" %>&nbsp;

  <%#= link_to 'Volver', servicios_path, class: "btn btn-primary shadow" %>   &nbsp;
  <%= link_to "Imprimir", '#', class: "btn btn-primary shadow m-1", onclick: "printpage()" %>
  <%= link_to "Volver", reportes_path, class: "btn btn-secondary shadow" %>

  </div>
</div>
