

<h1>Equipos</h1>



<%= render "table", equipo: @equipo %>

<%#= link_to "Nuevo equipo", new_equipo_path, class: "btn btn-primary shadow" %>
<%= link_to "Volver a inicio", root_path, class: "btn btn-secondary shadow" %>
