

<%= render @equipo %>

<div>
  <%#= link_to "Edit this equipo", edit_equipo_path(@equipo) %>
  <%#= link_to "Back to equipos", equipos_path %>
  <%#= button_to "Destroy this equipo", @equipo, method: :delete %>
</div>

<br>
<h2>Ultimas revisiones</h2>
<%= render "history" %>

<%= render_qr_code("").html_safe %>
<br>
