<h1>Editing sucursale</h1>

<%= render "form", sucursale: @sucursale %>

<br>

<div>
  <%= link_to "Show this sucursale", @sucursale %> |
  <%= link_to "Back to sucursales", sucursales_path %>
</div>
